doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(src="//localhost:9091")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css")
    link(rel="stylesheet", href="/css/styles.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-route.js")
    // ui bootstrap without templates
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.1/ui-bootstrap.js")
    // ui bootstrap with templates
    // script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.1/ui-bootstrap-tpls.js")
    script(src="/js/app.js")
  body(ng-app='caravan')
    div(ng-view=true)

