$black: #252525
$gray: #626262
$mediumgray: #979797
$lightgray: #e2e2e2
$orange: #FF8162

h1, h2, h3, h4, h5, h6
  margin: 0

html
  font-size: 100%

body
  padding-top: 50px
  background-color: #e2e2e2

.caravan-nav
  background: white
  display: flex
  align-items: center
  justify-content: center

  h1
    font-size: 1.5rem

.hero
  height: 200px
  background-size: cover
  color: white
  position: relative

  &.home
    background-image: url('/img/home_hero.png')

  h2
    font-size: 1.3rem
    position: absolute
    bottom: 10px
    left: 10px

.pickers
  height: 40px
  background-color: $black
  display: flex
  color: white

  .icon
    height: 20px
    width: 20px
    margin-right: 5px

  .where, .when
    width: 50%
    display: flex
    align-items: center
    justify-content: center

  .when
    border-right: 1px solid $gray

.trips
  position: relative

.trip
  margin: 10px
  .caption
    padding: 10px 15px
    background-color: white
  .gallery
    width: 100%
    overflow: hidden
  .title
    font-size: 1.2rem
    font-weight: bold
    margin: 0
  .cost
    color: $mediumgray
  .link
    display: block
    padding-top: 10px
    color: $orange
