.review
  h4.author Ken M.
  .stars
    span.glyphicon.glyphicon-star(ng-repeat="s in fullStars() track by $index")
    span.glyphicon.glyphicon-star-empty(ng-repeat="s in emptyStars() track by $index")
  .text.
    Take a trip to the Scottish Highlands and enjoy some of the finest whiskey
    the land has to offer. Nestled in the hills of Loch Ness, this gorgeous
    brewery is truly a sight to behold. The Loch Ness Brewery has existed for
    over 150 years, serving monster hunters through the ages.
