header

.hero.trip
  img.specialhero(src='{{ trip.images[0].large }}')
  .banner(ng-show='booked') YOU ARE CURRENTLY ON THIS TRIP
  h2(ng-bind-html="trip.pageTitle | sanitize")

.stats
  .cell
    small.title DURATION
    .val {{ trip.duration }}
  .cell
    small.title PRICE
    .val {{ trip.fromPrice }}
  .cell
    small.title DISTANCE
    .val 5 miles

.details
  .sectiontitle DETAILS
  p(ng-bind-html="trip.description | sanitize")

.trip-detail-contacts(ng-show='booked')
  .sectiontitle YOUR CARAVAN
  .contact.sectiontitle CONTACT
  .friends
    .friend
      img.photo(src='/img/caleb_small.png')
      .name CALEB H.
    .friend
      img.photo(src='/img/wale_small.png')
      .name YOU
    .friend
      img.photo(src='/img/josh_small.png')
      .name JOSH X.

.reviews
  .sectiontitle REVIEWS
  .first
    review
  review
  review

button.join.navbar-fixed-bottom(ng-click='join()', ng-hide='booked') JOIN A CARAVAN
button.join.navbar-fixed-bottom(ng-click='finishTrip()', ng-show='booked') TRIP FINISHED
