header

.hero.home
  h2 {{ trip.title }}

.stats
  .cell
    small.title DURATION
    .val {{ trip.duration }}
  .cell
    small.title PRICE
    .val ${{ trip.price }}
  .cell
    small.title DISTANCE
    .val {{ trip.distance }} miles

.details
  .sectiontitle DETAILS
  p {{ trip.description }}

.reviews
  .sectiontitle REVIEWS
  review
  review
  review

button.join.navbar-fixed-bottom JOIN A CARAVAN
