header

.hero.home
  h2(ng-bind="title")

.stats
  .cell
    small.title DURATION
    .val 3.5 Hours
  .cell
    small.title PRICE
    .val $60.00
  .cell
    small.title DISTANCE
    .val 63 miles

.details
  .sectiontitle DETAILS
  p.
    Take a trip to the Scottish Highlands and enjoy some of the finest whiskey
    the land has to offer. Nestled in the hills of Loch Ness, this gorgeous
    brewery is truly a sight to behold. The Loch Ness Brewery has existed for
    over 150 years, serving monster hunters through the ages.

.reviews
  .sectiontitle REVIEWS
  review
  review
  review

button.join.navbar-fixed-bottom JOIN A CARAVAN
