header

.hero.home
  h2(ng-bind="title")

.stats
  .cell
    .title DURATION
    .val 3.5 Hours
  .cell
    .title PRICE
    .val $60.00
  .cell
    .title DISTANCE
    .val 63 MILES

.details.
  Take a trip to the Scottish Highlands and enjoy some of the finest whiskey the
  land has to offer. Nestled in the hills of Loch Ness, this gorgeous brewery is
  truly a sight to behold. The Loch Ness Brewery has existed for over 150 years,
  serving monster hunters through the ages.
