.where-when
  img.icon(src='/img/exit.svg')
  .where
    img.icon(src='/img/caravan_calendar.svg')
    h4 When are you going?
    label START
      input(type='text')
    label FINISH
      input(type='text')

  .when
    img.icon(src='/img/caravan_world.svg')
    h4 Where are you going?
    label CITY
      input(type='text')

    button.join JOIN A CARAVAN
