.where-when
  img.exit.icon(src='/img/exit.svg', ng-click='exit()')
  .when
    img.icon(src='/img/caravan_calendar.svg')
    h4 When are you going?
    .field
      h6 START
      input(type='text', ng-model='start_date')
    .field
      h6 FINISH
      input(type='text', ng-model='end_date')

  .where
    img.icon(src='/img/caravan_world.svg')
    h4 Where are you going?
    .field
      h6 CITY
      input(type='text', ng-model='location')

  button.join(ng-click='save()') DONE
