.where-when
  img.exit.icon(src='/img/exit.svg')
  .when
    img.icon(src='/img/caravan_calendar.svg')
    h4 When are you going?
    .field
      h6 START
      input(type='text')
    .field
      h6 FINISH
      input(type='text')

  .where
    img.icon(src='/img/caravan_world.svg')
    h4 Where are you going?
    .field
      h6 CITY
      input(type='text')

  button.join JOIN A CARAVAN
